sudo: required

services:
    - docker

matrix:
    fast_finish: true
    include:
        - env: DOCK=1 IMAGE=bionic PY=2 RUN=unit
          python: 2.7
          os: linux
          dist: trusty

        - env: DOCK=1 IMAGE=bionic PY=3 RUN=unit COVERALLS=1
          python: 3.5
          os: linux
          dist: trusty

        - env: DOCK=1 IMAGE=bionic PY=3 RUN=style
          python: 3.5
          os: linux
          dist: trusty

        - env: DOCK=1 IMAGE=fedora28 PY=2 RUN=unit
          python: 2.7
          os: linux
          dist: trusty

        - env: DOCK=1 IMAGE=fedora28 PY=3 RUN=unit
          python: 3.5
          os: linux
          dist: trusty

        - env: DOCK=1 IMAGE=archlinux PY=2 RUN=unit
          python: 2.7
          os: linux
          dist: trusty

        - env: DOCK=1 IMAGE=archlinux PY=3 RUN=unit
          python: 3.5
          os: linux
          dist: trusty

        - language: generic
          env: RUN=unit PY=2 HOMEBREW_NO_AUTO_UPDATE=1
          os: osx

        - language: generic
          env: RUN=unit PY=3 HOMEBREW_NO_AUTO_UPDATE=1
          os: osx


before_install:
    - echo PATH=$PATH;
    - ./ci/osx_fix_cellar.sh
    - ./ci/github_checkout_branch.sh

install:
    - ./ci/osx_get_py3.sh
    - ./ci/osx_get_pipvirtualenv.sh
    - ./ci/docker_build.sh

script:
    - ./ci/osx_run_tests.sh
    - ./ci/docker_run.sh
