name: Continuous Integration with OSX

on: [push, pull_request]

jobs:
  tests:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        source ci/ci_osx.sh
        dependencies

    - name: Tests
      run: |
        source ci/ci_osx.sh
        tests
